.navBar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.4rem;
  background-color: #080707;
  color: #fff;

  margin-left: calc(var(--page-margin) * -1);
  margin-right: calc(var(--page-margin) * -1);
  padding-left: var(--page-margin);
  padding-right: var(--page-margin);
}
