* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;

  --page-margin: 1vw;

  @media (min-width: 768px) {
    --page-margin: 5vw;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: inherit;
}
